
nav.navbar.navbar-expand-lg.navbar-light
  .container-fluid
    button#sidebarCollapse.navbar-btn(type='button')
      span
      span
      span
    button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      i.fas.fa-align-justify
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        li.nav-item
          a.nav-link(href='/dashboard') Homepage
        li.nav-item
          a.nav-link(href='#') Profile
      ul.navbar-nav.ml-auto.mt-2.mt-lg-0
        div
          a.nav-link.pt-4(href='#') IZTECH Master&apos;s Degree System        |           
            img(src='../images/iyte_logo.png' style='width: 40px; heigth 80px;')
          p