doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Iztech Masters Degree System
  // Bootstrap CSS CDN
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4' crossorigin='anonymous')
  // Our Custom CSS
  link(rel='stylesheet' href='public/styles/style5.css')
  // Font Awesome JS
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.13/js/solid.js' integrity='sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ' crossorigin='anonymous')
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js' integrity='sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY' crossorigin='anonymous')
.wrapper
  // Sidebar Holder
  nav#sidebar
    .sidebar-header
      h5
        img(src='public/images/head.png' style='width: 40px;')
        |    Onur Demir&ouml;rs
    ul.list-unstyled.components.button
      p(style='text-align: start;')
        | You&rsquo;ve Logged as
        | Student
      li
        a(href='#') Requests
        a.dropdown-toggle(href='#pageSubmenu' data-toggle='collapse' aria-expanded='false') Forms
        ul#pageSubmenu.collapse.list-unstyled
          li
            a(href='#') Form PPF
          li
            a(href='#') Form DA
          li
            a(href='#') Form TD
          li
            a(href='#') Form TT
      li
        a(href='#') Portfolio
      li
        a(href='#') Contact
    ul.list-unstyled.CTAs
      li
        a.download(href='https://lee.iyte.edu.tr/en/home-page/') Iztech Master Degree
  #content
    nav.navbar.navbar-expand-lg.navbar-light
      .container-fluid
        button#sidebarCollapse.navbar-btn(type='button')
          span
          span
          span
        button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          i.fas.fa-align-justify
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            li.nav-item
              a.nav-link(href='https://avim.org.tr/images/uploads/Bulten/9208.jpg') Homepage
            li.nav-item
              a.nav-link(href='#') Profile
          ul.navbar-nav.ml-auto.mt-2.mt-lg-0
            div
              p(style='font-size:xx-small;')
                | IZTECH Master&apos;s Degree System        |           
                img(src='public/images/iyte_logo.png' style='width: 40px;')
              p
    // Content section starts
    .container
      h2.mt-4 Form DA : Course Selection From Other Institutions
    form(method='POST')
      .form-row
        .col-md-4.mb-3
          label(for='nameSurname') Name Surname
          input#nameSurname.form-control(type='text' name='nameSurname' value='name' required='')
        .col-md-4.mb-3
          label(for='university') University
          input#university.form-control(type='text' name='university' value='Please Enter' required='')
        .col-md-4.mb-3
          label(for='validationCustom02') Request Number
          input#reuqestNumber.form-control(type='text' value='0000' disabled='')
      input(type='submit' value='Submit')
    // Content section ends
// jQuery CDN - Slim version (=without AJAX)
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
// Popper.JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js' integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ' crossorigin='anonymous')
// Bootstrap JS
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js' integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm' crossorigin='anonymous')
script(type='text/javascript').
  $(document).ready(function () {
  $('#sidebarCollapse').on('click', function () {
  $('#sidebar').toggleClass('active');
  $(this).toggleClass('active');
  });
  });
